:root {
  --darkest: #27296d;
  --dark: #5e63b6;
  --light: #a393eb;
  --lightest: #f5c7f7;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
