.section {
  background: white;
  padding: 24px;
  border-radius: 16px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.counter {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;
  padding-right: 16px;
}

.taskLabel {
  font-size: 1rem;
  font-weight: 800;
  color: var(--darkest);
}

.inputContainer {
  display: flex;
  gap: 8px;
  width: 80%;
}
